*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    
}
header {
    background-color: #f6d3d3;
    color: #fff;
    padding: 20px;
    height: 55px;
    margin-top: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav li {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 10px;

}
a.active,a:hover{
    background-color: #56d47c;
    opacity: .5;
    transition: .5s;
    border-radius: 3px;
}





nav li:last-child {
    margin-right: 0;
}


nav li:first-child {
        margin-top: -20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;

}

nav a:hover {
   text-shadow: 5px 5px 10px #8b0a0a;
}

footer{
    position: absolute;
    background: #111;
    height: 200px;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 30px;
    color: #fff;
    margin-top: none;
}
.f-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.f-c h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.f-c p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 8px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 1rem 0;
}
.socials li{
    margin: 0 8px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.logo {
    width:120px;
    cursor:pointer;
}
#searchBar  {

    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    background-color: #b7dbbe;

    height:5px;
    color: #fff;
} 

#searchBar input[type="text"] {
      color: rgb(23, 19, 19);
}
#searchBar input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #3a9c4d;
    margin-right: 10px;
    outline: none;
    }


#searchBar i {
    color: #3a9c4d;
    font-size: 20px;
    }

#signupButtonn
{
    margin-left: 60px;
    background-color: #ff7200;
    border:none;
    border-radius: 5px;
    padding: 5px 5px;


}
    
#signupButtonn:hover
{
    
   
    box-shadow: 0 0 1px 1px #694848;
      transition: box-shadow 0.5s; 
    cursor:pointer;
}


.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
} 

.col-1{
    flex-basis: 50%;
    flex-grow: 1;
    background-image: linear-gradient(rgba(98, 73, 73, 0.8),rgba(95, 71, 71, 0.8)), url("food box1.webp");
    background-position: center;
    background-size: cover;
    min-height: inherit;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.col-2{
    flex-basis: 50%;
    flex-grow: 1;
    min-height: inherit;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.log{
    width: 160px;
    margin-bottom: 30px;
}
.col-1 ul{
    list-style: none;
}
.col-1 ul li{
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.col-1 ul li img{
    width: 20px;
    margin-right:15px ;
}

h2{
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        margin-top: -80px;

}

h2 img{
    width: 26px;
    margin-right: 10px;
}


.col-2 form {
    width: 400px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
}

.col-2 label {
    display: block;
    padding: 25px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #999;
    cursor: pointer;
}

.col-2 label span{
     flex: 1;
     margin-left: 15px;
     font-size: 34px;
     font-weight: 600;
     color: #333;
}

.col-2 label span small{
    font-size: 18px;
}

.col-2 input[type="radio"]:checked+span{
    color:red
}

.col-2 input[type="text"],input[type="email"]{
    width: 100%;
    background: transparent;
    padding: 7px 10px;
    outline: none;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 12px 0;
}

.col-2 form button{
    background: red;
    color: #fff;
    font-size: 16px;
    padding: 12px 50px;
    margin: 20px 0;
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.col-2 form button:hover{
    transform: translateY(-5px);
}